/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.DS_Store
public/css/src_sass
public/css/fonts
stuff
public/img/banners/*
public/js/bower_components
public/img/logos/*
!public/img/logos/default.png
public/csv/*
!public/csv/index.html
assets
